/**
 * Globals and fixes
 */
.wrapper {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(61, 65, 66);
    font-family: 'Poppins', sans-serif;
}
p, div {
    font-family: 'Open Sans', sans-serif;
}
p, div, span {
    color: #ffffff;
}
.bright-text-shadow {
    text-shadow: 4px 2px 3px rgba(196,196,196,0.85);
}
.dark-text-shadow {
    text-shadow: 4px 2px 6px rgba(81,81,81,0.91);
}
.margin-fix {
    margin-bottom: 5px !important;
}
.highlighted {
    font-weight: 600;
    color: #88589e !important;
}
a {
    text-decoration: none ;
    color: inherit !important;
}
.full-bg {
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    border: 0 !important;
}


.content {
    padding-top: 5%;
}
.headline {
    font-weight: 600;
}
#loading {
    font-weight: 200;
    font-style: italic;
    font-size: 1.5rem;
}
.card {
    margin: 0 auto;
}
.date {
    font-size: .9rem;
}
.weather-today {
    font-size: 1.5rem;
}
.location {
    font-weight: 600;
    font-size: 1.1rem;
}
.temperature, .tempUnit {
    font-weight: 600;
    font-size: 2.8rem;
}
.condition {
    font-weight: 700;
    font-size: 1rem;
}
.realFeel > span {
    font-weight: 400 !important;
    font-style: italic !important;
}
.tag {
    font-weight: 600;
}
.convert {
    font-weight: 600;
    font-size: 1.25rem;
}
.convert:hover{
    text-decoration: underline;
    cursor: pointer;
}
i {
    font-size: 1.25rem;
}
.footer-content {
    font-weight: 400;
}
.page-bg {
    background: rgb(87,179,207);
    background: linear-gradient(0deg, rgba(87,179,207,1) 0%, rgba(255,210,113,1) 100%);
}
.icon {
    height : 44px;
    width: 44px;
}


/**
 * RESPONSIVE
 * BREAKPOINTS
 */

/**
 * Small devices (landscape phones, 576px and up)
 */
@media (min-width: 576px) { 
    .temperature, .tempUnit {
        font-size: 3.5rem;
    }
}

/**
 * Medium devices (tablets, 768px and up)
 */
@media (min-width: 768px) { 
    .temperature, .tempUnit {
        font-size: 3rem;
    }
}

/**
 * Large devices (desktops, 992px and up)
 */
@media (min-width: 992px) { 
    .temperature, .tempUnit {
        font-size: 3.5rem;
    }
}